flows.json
[
    {
        "id": "43d41dd086774f2c",
        "type": "tab",
        "label": "4: Flow1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "43d1740e38cc6310",
        "type": "tls-config",
        "name": "mqtt.lora.eagelcovewc.com",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "mqtt_client.pem",
        "keyname": "mqtt_client.key",
        "caname": "ca.pem",
        "servername": "mqtt.lora.eagelcovewc.com",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "9d156d3c3c4f5a59",
        "type": "telegram bot",
        "botname": "SJI IOT BOT",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "pollinterval": 300,
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": 6667,
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbothost": "0.0.0.0",
        "localbotport": 8443,
        "publicbotport": 8443,
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "b79a80b523e80429",
        "type": "mqtt-broker",
        "name": "mqtt.lora.ecwc.com",
        "broker": "mqtt.lora.eaglecovewc.com",
        "port": "8883",
        "tls": "43d1740e38cc6310",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "19e2d2b240aef5ab",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b659e20a9228f0c2",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d030580efdcfac72",
        "type": "ui_group",
        "name": "Default",
        "tab": "19e2d2b240aef5ab",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "abac3ceea1036eae",
        "type": "chirpstack-server",
        "server": "10.8.0.1:8080"
    },
    {
        "id": "2104df042ee64b5b",
        "type": "mqtt in",
        "z": "43d41dd086774f2c",
        "name": "ECWC Infrastructure Meter",
        "topic": "application/944ee854-89d0-4b0b-9524-f3559ef9df52/device/+/event/up",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b79a80b523e80429",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 320,
        "wires": [
            [
                "447b38bb2e47a6b4",
                "fe3d86e0e22e57e3"
            ]
        ]
    },
    {
        "id": "7c681c51adff4691",
        "type": "telegram sender",
        "z": "43d41dd086774f2c",
        "name": "Humidity Sender",
        "bot": "9d156d3c3c4f5a59",
        "haserroroutput": true,
        "outputs": 2,
        "x": 610,
        "y": 300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "eb91356db9e84897",
        "type": "comment",
        "z": "43d41dd086774f2c",
        "name": "Group 4 LoRaWAN Info",
        "info": "## Group 4 - LoRaWAN Device Info\n\n**Application ID:** `944ee854-89d0-4b0b-9524-f3559ef9df52`\n**MQTT Topic:** `application/944ee854-89d0-4b0b-9524-f3559ef9df52/device/+/event/up`\n**Telegram Chat ID:** `-5279605385`\n**All-groups Chat ID:** `-5144508977`\n\n### Relay 4 (4 Channel Relay)\n- **DEV EUI:** `48E663FFFE301047`\n- **APP EUI:** `48FF000000001047`\n- **APP KEY:** `48D734E68536E3198A9387A7B06B455C`\n\n### TempHum4 (Temp & Humid Sensor)\n- **DEV EUI:** `48E663FFFE3010F6`\n- **APP EUI:** `48FF0000000010F6`\n- **APP KEY:** `E137F1340C0E6FFED8F7009CB900692C`\n\n---\n**Telegram for Windows:** [Download](https://telegram.org/dl/desktop/win)\n\n**AgroSense Sensor Manual:** [PDF](https://github.com/Makerfabs/Agrosense-Decoder/blob/main/Agrosense_Air_Temperature_Humidity_Sensor/AgroSense_Air%20Temperature%20and%20Humidity%20Sensor%20LoRaWAN%C2%AE%20Manual%20V1.2.pdf)\n\n**Telegram Web App:** [Open](https://web.telegram.org/k/)\n**Node-RED Telegram Docs:** [flows.nodered.org](https://flows.nodered.org/node/node-red-contrib-telegrambot)\n\nhttps://t.me/+-OJnoNRNMmNkYTkx",
        "x": 210,
        "y": 80,
        "wires": []
    },
    {
        "id": "447b38bb2e47a6b4",
        "type": "debug",
        "z": "43d41dd086774f2c",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 200,
        "wires": []
    },
    {
        "id": "f5a677c9f86b5be5",
        "type": "debug",
        "z": "43d41dd086774f2c",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 440,
        "wires": []
    },
    {
        "id": "fe3d86e0e22e57e3",
        "type": "function",
        "z": "43d41dd086774f2c",
        "name": "function 2",
        "func": "let temp = msg.payload.object.field3;\nlet conclusion = \"\";\n\n\n\nif (temp < 50) {\n    conclusion = \"Low Temperature\";\n} else if (temp > 60) {\n    conclusion = \"High Temperature\";\n} else {\n    conclusion = \"Normal Temperature\";\n    return;\n}\n\nvar text = \"Battery Voltage: \" + msg.payload.object.field1 + \"\\n\" + \n           \"Humidity: \" + msg.payload.object.field2 + \"\\n\" + \n           \"Celsius: \" + temp + \"\\n\" +\n           \"Conclusion: \" + conclusion + \"\\n\" +\n           \"Name: \" + msg.payload.deviceInfo.deviceName + \"\\n\" +\n           \"Time: \" + msg.payload.object.device_time;\n\nmsg.payload = {\n    type: \"message\",\n    chatId: -5279605385,\n    content: text\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 440,
        "wires": [
            [
                "f5a677c9f86b5be5",
                "7c681c51adff4691"
            ]
        ]
    },
    {
        "id": "d58e61c1f89ea425",
        "type": "comment",
        "z": "43d41dd086774f2c",
        "name": "Group Link",
        "info": "https://t.me/+-OJnoNRNMmNkYTkx",
        "x": 480,
        "y": 120,
        "wires": []
    },
    {
        "id": "d13e37a06203a78b",
        "type": "inject",
        "z": "43d41dd086774f2c",
        "name": "hi temp",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"deduplicationId\":\"4e20cd05-6321-4b2f-be7b-f80bc152a2b3\",\"time\":\"2026-05-29T15:42:51.625586281+00:00\",\"deviceInfo\":{\"tenantId\":\"76bfe15e-38c3-47a4-b1de-d77d9ddff671\",\"tenantName\":\"STEM\",\"applicationId\":\"944ee854-89d0-4b0b-9524-f3559ef9df52\",\"applicationName\":\"group4\",\"deviceProfileId\":\"db7e8178-5e70-459e-b98d-b07f9a8556f7\",\"deviceProfileName\":\"MakerFab Agrosense_Air_Temperature_Humidity_Sensor\",\"deviceName\":\"TempHum4\",\"devEui\":\"48e663fffe3010f6\",\"deviceClassEnabled\":\"CLASS_A\",\"tags\":{}},\"devAddr\":\"00a6671c\",\"adr\":true,\"dr\":3,\"fCnt\":3203,\"fPort\":2,\"confirmed\":true,\"data\":\"C44cAlQA1AAEk+BqGbP2AA==\",\"object\":{\"field4\":300,\"field3\":67.2,\"device_time\":\"2026-05-29 15:42:46\",\"field1\":2.8,\"field2\":59.6,\"device_time_unix\":1780069366},\"rxInfo\":[{\"gatewayId\":\"ac1f09fffe1f6287\",\"uplinkId\":1914165332,\"nsTime\":\"2026-05-29T15:42:51.416896811+00:00\",\"rssi\":-41,\"snr\":14,\"location\":{\"source\":\"GPS\"},\"context\":\"b7wpGg==\"}],\"txInfo\":{\"frequency\":903900000,\"modulation\":{\"lora\":{\"bandwidth\":125000,\"spreadingFactor\":7,\"codeRate\":\"CR_4_5\"}}},\"regionConfigId\":\"us915_1\"}",
        "payloadType": "json",
        "x": 180,
        "y": 540,
        "wires": [
            [
                "fe3d86e0e22e57e3"
            ]
        ]
    },
    {
        "id": "5cc7fe19f2c27b41",
        "type": "inject",
        "z": "43d41dd086774f2c",
        "name": "low temp",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"deduplicationId\":\"4e20cd05-6321-4b2f-be7b-f80bc152a2b3\",\"time\":\"2026-05-29T15:42:51.625586281+00:00\",\"deviceInfo\":{\"tenantId\":\"76bfe15e-38c3-47a4-b1de-d77d9ddff671\",\"tenantName\":\"STEM\",\"applicationId\":\"944ee854-89d0-4b0b-9524-f3559ef9df52\",\"applicationName\":\"group4\",\"deviceProfileId\":\"db7e8178-5e70-459e-b98d-b07f9a8556f7\",\"deviceProfileName\":\"MakerFab Agrosense_Air_Temperature_Humidity_Sensor\",\"deviceName\":\"TempHum4\",\"devEui\":\"48e663fffe3010f6\",\"deviceClassEnabled\":\"CLASS_A\",\"tags\":{}},\"devAddr\":\"00a6671c\",\"adr\":true,\"dr\":3,\"fCnt\":3203,\"fPort\":2,\"confirmed\":true,\"data\":\"C44cAlQA1AAEk+BqGbP2AA==\",\"object\":{\"field4\":300,\"field3\":2.1,\"device_time\":\"2026-05-29 15:42:46\",\"field1\":2.8,\"field2\":59.6,\"device_time_unix\":1780069366},\"rxInfo\":[{\"gatewayId\":\"ac1f09fffe1f6287\",\"uplinkId\":1914165332,\"nsTime\":\"2026-05-29T15:42:51.416896811+00:00\",\"rssi\":-41,\"snr\":14,\"location\":{\"source\":\"GPS\"},\"context\":\"b7wpGg==\"}],\"txInfo\":{\"frequency\":903900000,\"modulation\":{\"lora\":{\"bandwidth\":125000,\"spreadingFactor\":7,\"codeRate\":\"CR_4_5\"}}},\"regionConfigId\":\"us915_1\"}",
        "payloadType": "json",
        "x": 180,
        "y": 580,
        "wires": [
            [
                "fe3d86e0e22e57e3"
            ]
        ]
    },
    {
        "id": "144f3c2e446997e2",
        "type": "inject",
        "z": "43d41dd086774f2c",
        "name": "normal temp",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"deduplicationId\":\"4e20cd05-6321-4b2f-be7b-f80bc152a2b3\",\"time\":\"2026-05-29T15:42:51.625586281+00:00\",\"deviceInfo\":{\"tenantId\":\"76bfe15e-38c3-47a4-b1de-d77d9ddff671\",\"tenantName\":\"STEM\",\"applicationId\":\"944ee854-89d0-4b0b-9524-f3559ef9df52\",\"applicationName\":\"group4\",\"deviceProfileId\":\"db7e8178-5e70-459e-b98d-b07f9a8556f7\",\"deviceProfileName\":\"MakerFab Agrosense_Air_Temperature_Humidity_Sensor\",\"deviceName\":\"TempHum4\",\"devEui\":\"48e663fffe3010f6\",\"deviceClassEnabled\":\"CLASS_A\",\"tags\":{}},\"devAddr\":\"00a6671c\",\"adr\":true,\"dr\":3,\"fCnt\":3203,\"fPort\":2,\"confirmed\":true,\"data\":\"C44cAlQA1AAEk+BqGbP2AA==\",\"object\":{\"field4\":300,\"field3\":50,\"device_time\":\"2026-05-29 15:42:46\",\"field1\":2.8,\"field2\":59.6,\"device_time_unix\":1780069366},\"rxInfo\":[{\"gatewayId\":\"ac1f09fffe1f6287\",\"uplinkId\":1914165332,\"nsTime\":\"2026-05-29T15:42:51.416896811+00:00\",\"rssi\":-41,\"snr\":14,\"location\":{\"source\":\"GPS\"},\"context\":\"b7wpGg==\"}],\"txInfo\":{\"frequency\":903900000,\"modulation\":{\"lora\":{\"bandwidth\":125000,\"spreadingFactor\":7,\"codeRate\":\"CR_4_5\"}}},\"regionConfigId\":\"us915_1\"}",
        "payloadType": "json",
        "x": 190,
        "y": 620,
        "wires": [
            [
                "fe3d86e0e22e57e3"
            ]
        ]
    },
    {
        "id": "2f9e80906e2859c5",
        "type": "chirpstack-enqueue",
        "z": "43d41dd086774f2c",
        "name": "",
        "server": "",
        "devEui": "",
        "applicationId": "",
        "fPort": 10,
        "confirmed": false,
        "debug": false,
        "x": 750,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "9b83eac96873498e",
        "type": "inject",
        "z": "43d41dd086774f2c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "fPort",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "01",
        "payloadType": "str",
        "x": 580,
        "y": 100,
        "wires": [
            [
                "2f9e80906e2859c5"
            ]
        ]
    }
]